@charset "utf-8";
body p {
    font-size: large;
    text-align: left;



}
.neg.bar a {
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #245FEB;
    font-style: normal;
    font-weight: bold;
    font-size: large;
    text-align: center;
    word-spacing: normal;
}
h1 {
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    text-align: center;

}
date label {
    text-decoration: none;


}
